{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% with message = get_flashed_messages() %}
{% if messages %}
<header class="alert alert-primary border text_center" role="alert">
    {{ message }}
</header>
{% endif %}
{% endwith %}

{% block main %}
    <div class="container-fluid justify-content-center" id="doc-content">
        <h1 class="text-center title">
            About
        </h1>
        <h3 class="text-center title">
           An experimental password generator
        </h3>
        <p class="text-justify intro">
            This is still a work in progress, aim to simplify my password generating system as the password manager seems to be too random to remember and I don't like the idea of having the password manager that always remembers your other password. Requires Python 3 and Flask to use <code>flask run</code> to launch the web app in your default web browser. This webapp is containerized!
        </p>
    </div>
{% endblock %}